body {
	background-color: grey;
	min-width: 320px;  /*tel*/
}

h1 {
	color: white;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100%;
	background-color: #f1f1f1;
}

li a {
	background-color: grey;
	display: block;
	color: #000;
	padding: 8px 0 8px 16px;
	text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
	background-color: #555;
	color: white;
}

html {
	height: 100%;
}

body {
	/*	display : table; */
	min-height: 100%;
	margin: 0;
	padding: 0;
		margin-left:10px;
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

body {
	position: relative;
}

footer {
	margin-left:10px;
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: 20px;
	display : table-row;
	position: absolute; 
	bottom: 0;
	left: 0; 
	right: 0
}

/* button cote a cote avec un petit espace */
button {   
	display: inline-block;
}

input.ng-invalid {
	background-color:pink;
}
input.ng-valid {
	background-color:lightgreen;
}

img, table, td, blockquote, code, pre, textarea, input, iframe, object, embed, video {  /*tel*/
	max‐width: 100%;
}

* {-moz-box-sizing: border-box; box-sizing: border-box;}
