<!doctype html>
<html>
<head>
	<title>La TodoList, le retour</title>
	<meta name="viewport" content="width=device-width"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<meta name="viewport" content="width=device-width, minimum-scale=0.25"/>
	<meta name="viewport" content="width=device-width, maximum-scale=5.0"/>
	<meta name="viewport" content="width=device-width, user-scalable=no"/>
	<meta name="viewport" content="width=device-width, target-densitydpi=device-dpi"/>
	<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
	<link rel="stylesheet" type="text/css" href="pageDeConnection.css" />
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
	<script type="text/javascript" src="todoliste.js"></script> 
</head>
<body>
	<div ng-app="myApp"> 
		<div ng-controller="myCtrl">
			<ul>
				<li ng-repeat="x in ressource">
					<a href="#" ng-click="modifierSupprimer(x.Id)">{{x.Title}}</a>
				</li>
			</ul>
			<footer>


				<!-- Load Facebook SDK for JavaScript -->
<!--	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>  -->

	<!-- Your share button code -->
	<div class="fb-share-button" data-href="http://www.your-domain.com/your-page.html" data-layout="button_count">
	</div> 
	<a href="http://twitter.com/share" class="twitter-share-button" data-count="vertical" data-via="InfoWebMaster">Tweet</a>
	<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
	<button  ng-click="ajouter()" class="w3-btn-block w3-round-large w3-purple">Add a new one</button>
			</footer>
		</div>
	</div>
</body>
</html>